body {
    background-color: lightblue;
}
img {
    float: right;
    margin: 0 0 1em 1em;
}

.clearfix {
    overflow: auto;
}
h1 {
    color: navy;
    text-align: center;
    font-size: 2.5em;
}
h2 {
    text-indent: 20px;
    font-size: 1.7em;
}
h3 {
    padding: 10px;
    border-bottom: black;
    border-bottom-style: solid;
    border-width: 3px;
    text-indent: 15px;
    font-size: 1.3em;
}
p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 20px;
}
/* curious what the best practices are for below, I like having the common border, padding, etc. all together, right now the ol style is overriding the ul, ol, but maybe best to have style in seperate for all? */
ul, ol {
    border: 2px solid red;
    list-style-type: disc;
    padding: 10px 30px;
    background: #cce5ff;
    margin: 10px;
    display: inline-block;
}
ol{
    list-style-type: upper-roman;
}
table {
    border: 2px solid red;
    list-style-type: disc;
    background: #cce5ff;
    margin: 10px;
    clear: left;
}
th, td {
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid;
}
th {
    font-weight: 700;
}